<!DOCTYPE html>
<html>
<head>
    <style>
        .center-div {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .inputs {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    </style>
</head>
<body>
    <div class="center-div">
        <div class="inputs">
            <form action="/addDB" method="POST">
                <input type="text" placeholder="username" name="Username"><br>
                <input type="text" placeholder="Password" name="Password"><br>
                <input type="text" placeholder="Email" name="Email"><br>
                <input type="submit" value="Register" name="Send">
            </form action='/addDB'>
        </div>
    </div>
</body>
</html>